.about-page {
  width: 100%;
  .contribution-container {
    margin: 5% 0;
    p{
        margin: 2% 0;
    }
  }
  .feedback-container {
    margin: 5% 0;
    p,
    button {
      margin: 2% 0;
    }
  }
  .author-container {
    margin: 5% 0;
    .flex-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: baseline;
      margin: 2% 0;
      .left {
        img {
          width: 150px;
          height: 150px;
          object-fit: contain;
          margin-left: -25px;
        }
      }
    }
  }
}
