@import "../../styles/global.scss";

.home-page {
  margin-top: 2%;
  // Computer view starts here
  .sticky-col {
    position: sticky;
    top: 2%;
    height: 98vh;
    .primary-side-panel {
      .profile-picture-container {
        width: 150px;
        height: 150px;
        .profile-picture {
          width: 100%;
          height: inherit;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    .secondary-side-panel {
      .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-item {
          margin: 0 2%;
          .brand-container {
            display: flex;
            align-items: center;
            .brand-logo {
              width: 30px;
              height: 30px;
            }
            .brand-name {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
      }
      .news-container {
        height: 300px;
        width: 100%;
        margin-left: 5%;
        .news-list {
          .item {
            display: flex;
            align-items: center;
            margin: 5% 0;
            cursor: pointer;
            .icon {
              width: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                object-fit: cover;
              }
            }
            .content {
              width: 78%;
              margin-left: 2%;
              b {
                font-size: 11px;
              }
            }
          }
          .view-more-link {
            display: flex;
            align-items: center;
            justify-content: center;
            b {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  // Mobile view starts here
  .mobile-view {
    padding: 0 5%;
    .app-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .brand-name {
        width: 50%;
        display: flex;
        align-items: center;
        img {
          width: 35px;
          height: 35px;
        }
      }
      .options {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i,label{
          margin: 0 2%;
        }
      }
    }
    .header {
      margin-top: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      img {
        width: 75px;
        height: 75px;
        object-fit: cover;
      }
    }
  }
}
